<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Kimi no Manga</title>
  </head>
  <body>
    <%- include('nav.html'); %>
    <section>
    <h1 id="seumanga">Sua biblioteca de mangas!</h1>
    <div id="quadrado">
      <div id="manga">
        <a href="#haikyuu">
          <img src="img/haikyuu.jpg" alt="Haikyuu" class="img">
        </a>
          <h2>Haikyū!! é uma série de manga escrita e ilustrada por Haruichi Furudate.
          Os capítulos individuais são publicados na revista Weekly Shōnen Jump desde 
          fevereiro de 2012, com os volumes tankōbon sendo publicados pela editora Shueisha.
           A série foi inicialmente publicada como um one-shot na revista sazonal Jump NEXT!</h2>
          <h3>©Wikipédia</h3>
      </div>
      <div id="manga">
        <a href="#one-piece">
          <img src="img/onepiece.jpg" alt="One Piece" class="img">
        </a>
          <h2>One Piece é uma série de mangá escrita e ilustrada por Eiichiro Oda. 
          Os capítulos têm sido serializados na revista Weekly Shōnen Jump desde 22 de julho de 1997, 
          com os capítulos compilados e publicados em 99 volumes tankōbon pela editora Shueisha até fevereiro de 2021. 
          One Piece conta as aventuras de Monkey D</h2>
          <h3>©Wikipédia</h3>
      </div>
      <div id="manga">
        <a href="#chainsawman">
          <img src="img/chainsawman.jpg" alt="Chainsaw Man" class="img">
        </a>
          <h2>Chainsaw Man é um mangá japonês escrito e ilustrado por Tatsuki Fujimoto. 
          Ele foi publicado na Shueisha 's Weekly Shonen Jump revista de dezembro de 2018 até Dezembro de 2020, 
          com seus capítulos coletados em onze volumes</h2>
          <br colspan="2">
          <br colspan="2">
          <h3>©Wikipédia</h3>
      </div>
    </div>
  </section>
  <%- include('footer.html'); %>
  </body>
</html>