<head>
  <!-- Para utilizar icones na páginas -->
  <script src="https://kit.fontawesome.com/c66ef84338.js" crossorigin="anonymous"></script>
  <!-- Para utilizar fontes diferentes na páginas -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
</head> 
<header>
    <img src="img/livrinho.png" id="livrinho" alt="Home">
    <h1>Kimi no Manga</h1>
    <form action="#" method="post">
      <input type="text" name="search" id="pesquisa" placeholder="Pesquise seu manga!" required>
      <button type="submit">
    <!-- Para utilizar icones na páginas -->
      <i class="fas fa-search"></i>
      <button>
    </form> 
</header>
<nav class="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/usuario">Cadastro de usuários</a></li>
    <li><a href="/mangas">Cadastro de mangas</a></li>
    <li><a href="/empresta">Cadastro de Empréstimos</a></li>
    <li><a href="/reserva">Cadastro de Reservas</a></li>
    <li style="float:right">
      <a class="active" href="#perfil"><i class="far fa-user-circle"></i></a>
    </li>
    </ul>
</nav>