<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuarios</title>
    <link href="style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <%- include('nav.html'); %>
    <p>Ação realizada com sucesso :)</p>
    <a href="/usuario">Voltar para a lista de usuários</a>
    <%- include('footer.html'); %>
  </body>
</html>