<html>
  <head>
    <meta charset="UTF-8">
    <title>Cadastro de Reservas</title>
    <link href="../style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <%- include('nav.html'); %>

    <p>Ação realizada com sucesso :)</p>
    <a href="/reserva">Voltar para a lista de reservas.</a>
    <%- include('footer.html'); %>
  </body>
</html>